---
import { Image } from 'astro:assets';
import BaseLayout from '../layouts/BaseLayout.astro';

// images
import bridgeImage from '../assets/img/link-images/bridge.webp';
import kurbanImage from '../assets/img/link-images/kurban.webp';
import orphanageImage from '../assets/img/link-images/orphanage.webp';
import studentsImage from '../assets/img/link-images/students.webp';
import wellImage from '../assets/img/link-images/well.webp';

import '../scss/pages/home.scss';

// translations
import translations, {
    convertPageTitle,
    localeLink,
} from '../utils/translationTools';
const t = translations(Astro.url);
---

<BaseLayout
    title="Activities"
    description="Liberia'da köprü, cami ve okul yapımı gibi faaliyetler sürdüren vakıf."
>
    <div
        class="container text-center justify-content-center align-items-center d-flex mt-5"
    >
        <div class="row g-4 col-12 col-lg-8 mt-5 mb-5">
            <div class="link-cards overflow-hidden rounded-5 col-6">
                <a href={localeLink('/wells', Astro.url)}>
                    <div
                        class="d-flex align-items-center justify-content-center"
                    >
                        <Image src={wellImage} alt="bridge picture" />
                        <div class="link-card-text">{t.wells}</div>
                    </div>
                </a>
            </div>
            <div class="link-cards overflow-hidden rounded-5 col-6">
                <a href={localeLink('/orphanage', Astro.url)}>
                    <div
                        class="d-flex align-items-center justify-content-center"
                    >
                        <Image src={orphanageImage} alt="bridge picture" />
                        <div class="link-card-text">{t.orphanage}</div>
                    </div>
                </a>
            </div>
            <div class="link-cards overflow-hidden rounded-5 col-6">
                <a href={localeLink('/students', Astro.url)}>
                    <div
                        class="d-flex align-items-center justify-content-center"
                    >
                        <Image src={studentsImage} alt="bridge picture" />
                        <div class="link-card-text">{t.students}</div>
                    </div>
                </a>
            </div>
            <div class="link-cards overflow-hidden rounded-5 col-6">
                <a href={localeLink('/others', Astro.url)}>
                    <div
                        class="d-flex align-items-center justify-content-center"
                    >
                        <Image src={bridgeImage} alt="bridge picture" />
                        <div class="link-card-text">{t.others}</div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</BaseLayout>
