---
import { Image } from 'astro:assets';
import BaseLayout from '../layouts/BaseLayout.astro';
import bridgeImage from '../assets/img/activities/bridge.webp';
import kurbanImage from '../assets/img/activities/kurban.webp';
import orphanageImage from '../assets/img/activities/orphanage.webp';
import studentsImage from '../assets/img/activities/students.webp';
import wellImage from '../assets/img/activities/well.webp';
import activitiesStyles from '../scss/pages/activities.scss?url';

// translations
import translations, {
    convertPageTitle,
    localeLink,
} from '../utils/translationTools';
import TimelineContent from '../components/TimelineContent.astro';
const t = translations(Astro.url);
---

<BaseLayout
    title={convertPageTitle(t.activities, t.title)}
    description={t.description}
>
    <template shadowRoot="closed">
        <section id="cd-timeline" class="cd-container">
            <TimelineContent
                source={orphanageImage}
                title={t.orphanage}
                type="image"
            />
            <TimelineContent
                source={studentsImage}
                title={t.students}
                type="image"
            />
            <TimelineContent
                source={bridgeImage}
                title={t.others}
                type="image"
            />
        </section>
        <link rel="stylesheet" href={activitiesStyles} />
    </template>
</BaseLayout>
