---
import { Image } from 'astro:assets';

import BaseLayout from '../layouts/BaseLayout.astro';
import Slider from '../components/Slider';

// images for link backrounds
import bridgeImage from '../assets/img/activities/bridge.webp';
import orphanageImage from '../assets/img/activities/orphanage.webp';
import studentsImage from '../assets/img/activities/students.webp';
import wellImage from '../assets/img/activities/well.webp';

import '../scss/pages/home.scss';

// translations
import translations, {
    convertPageTitle,
    localeLink,
} from '../utils/translationTools';
const t = translations(Astro.url);

const imageWidth = 300;
---

<BaseLayout title={t.title} description={t.description}>
    <div id="page-top">
        <!-- lotushead-->
        <div class="lotushead text-white text-center">
            <div class="container d-flex align-items-center flex-column">
                <div
                    class="slider-wrapper row w-100 d-flex align-items-center justify-content-center"
                >
                    <Slider client:only="react" />
                </div>
                <div class="row g-2 col-12 col-lg-8">
                    <div
                        class="link-cards shadow-lg overflow-hidden rounded-5 col-6 col-sm-3"
                    >
                        <a href={localeLink('/wells/1/', Astro.url)}>
                            <div
                                class="d-flex align-items-center justify-content-center"
                            >
                                <Image
                                    src={wellImage}
                                    alt="wells picture"
                                    width={imageWidth}
                                />
                                <div class="link-card-text">{t.wells}</div>
                            </div>
                        </a>
                    </div>
                    <div
                        class="link-cards shadow-lg overflow-hidden rounded-5 col-6 col-sm-3"
                    >
                        <a href={localeLink('/orphanage', Astro.url)}>
                            <div
                                class="d-flex align-items-center justify-content-center"
                            >
                                <Image
                                    src={orphanageImage}
                                    alt="orphanage picture"
                                    width={imageWidth}
                                />
                                <div class="link-card-text">{t.orphanage}</div>
                            </div>
                        </a>
                    </div>
                    <div
                        class="link-cards shadow-lg overflow-hidden rounded-5 col-6 col-sm-3"
                    >
                        <a href={localeLink('/students', Astro.url)}>
                            <div
                                class="d-flex align-items-center justify-content-center"
                            >
                                <Image
                                    src={studentsImage}
                                    alt="students picture"
                                    width={imageWidth}
                                />
                                <div class="link-card-text">
                                    {t.students}
                                </div>
                            </div>
                        </a>
                    </div>
                    <div
                        class="link-cards shadow-lg overflow-hidden rounded-5 col-6 col-sm-3"
                    >
                        <a href={localeLink('/others', Astro.url)}>
                            <div
                                class="d-flex align-items-center justify-content-center"
                            >
                                <Image
                                    src={bridgeImage}
                                    alt="others picture"
                                    width={imageWidth}
                                />
                                <div class="link-card-text">{t.others}</div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</BaseLayout>
