---
import { Image } from 'astro:assets';

import BaseLayout from '../layouts/BaseLayout.astro';
import Slider from '../components/Slider';

// images for link backrounds
import bridgeImage from '../assets/img/link-images/bridge.webp';
import kurbanImage from '../assets/img/link-images/kurban.webp';
import orphanageImage from '../assets/img/link-images/orphanage.webp';
import studentsImage from '../assets/img/link-images/students.webp';
import wellImage from '../assets/img/link-images/well.webp';

// home.scss
import '../scss/pages/home.scss';

// translations
import translations, {
    convertPageTitle,
    localeLink,
} from '../utils/translationTools';
const t = translations(Astro.url);
---

<BaseLayout title={t.title} description={t.description}>
    <div id="page-top">
        <!-- lotushead-->
        <div class="lotushead text-white text-center">
            <div class="container d-flex align-items-center flex-column">
                <div
                    class="slider-wrapper row mb-3 w-100 d-flex align-items-center justify-content-center"
                >
                    <Slider client:only="react" />
                </div>
                <div class="row g-2 col-12 col-lg-8">
                    <div
                        class="link-cards shadow-lg overflow-hidden rounded-5 col-6 col-sm-3"
                    >
                        <a href="/wells">
                            <div
                                class="d-flex align-items-center justify-content-center"
                            >
                                <Image src={wellImage} alt="bridge picture" />
                                <div class="link-card-text">{t.wells}</div>
                            </div>
                        </a>
                    </div>
                    <div
                        class="link-cards shadow-lg overflow-hidden rounded-5 col-6 col-sm-3"
                    >
                        <a href="/orphanage">
                            <div
                                class="d-flex align-items-center justify-content-center"
                            >
                                <Image
                                    src={orphanageImage}
                                    alt="bridge picture"
                                />
                                <div class="link-card-text">{t.orphanage}</div>
                            </div>
                        </a>
                    </div>
                    <div
                        class="link-cards shadow-lg overflow-hidden rounded-5 col-6 col-sm-3"
                    >
                        <a href="/students">
                            <div
                                class="d-flex align-items-center justify-content-center"
                            >
                                <Image
                                    src={studentsImage}
                                    alt="bridge picture"
                                />
                                <div class="link-card-text">
                                    {t.students}
                                </div>
                            </div>
                        </a>
                    </div>
                    <div
                        class="link-cards shadow-lg overflow-hidden rounded-5 col-6 col-sm-3"
                    >
                        <a href="/others">
                            <div
                                class="d-flex align-items-center justify-content-center"
                            >
                                <Image src={bridgeImage} alt="bridge picture" />
                                <div class="link-card-text">{t.others}</div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</BaseLayout>
