---
import logo from '../assets/img/logo.png';
import { Image } from 'astro:assets';
import t from '../utils/translationTools';

interface Props {
    source: ImageMetadata | string;
    title?: string;
}

const { source, title } = Astro.props;

const isVideo = typeof source === 'string';
const isImage = !isVideo;
---

<div class="cd-timeline-block">
    <div class="cd-timeline-img cd-movie">
        <Image
            width={30}
            height={30}
            src={logo}
            alt="site logo for timeline image"
        />
    </div>
    <div class="cd-timeline-content">
        <h3 style="color: white; margin: 0; margin-bottom: 5px">{title}</h3>
        <div>
            {
                isImage && title && (
                    <a href={source.src}>
                        <Image
                            width={500}
                            src={source}
                            alt={title}
                            class="content-image"
                        />
                    </a>
                )
            }

            {
                isVideo && (
                    <video
                        style="width: 100%; height: 70vh; object-fit: cover;"
                        src={source}
                        controls={false}
                        autoplay
                        muted
                        loop
                        preload="none"
                    />
                )
            }
        </div>
        <!-- <span class="cd-date">Feb 26</span> -->
    </div>
</div>
