---
// translations
import { getLocale } from 'astro-i18n-aut';
import { defaultLocale } from '../utils/translationTools';
let lang = getLocale(Astro.url) ?? defaultLocale;

// scripts and css's
import '../scss/styles.scss';
import bootstrap from 'bootstrap/dist/js/bootstrap.bundle?url';
import myScripts from '../js/scripts?url';

// Font Awesome icons (free version)
import fontawesome from '../js/fontawesome?url';
import favicon from '../assets/favicon.ico';

// components
import Navbar from './components/Navbar.astro';
import Copyright from './components/Copyright.astro';

interface Props {
    title: string;
    description: string;
}

const { title, description } = Astro.props;
---

<!DOCTYPE html>
<html lang={lang} translate="no">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content={description} />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>{title}</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href={favicon} />
    </head>
    <body>
        <main>
            <Navbar />

            <div style="margin-top: 70px;">
                <slot />
            </div>

            <Copyright />

            <!-- Core theme JS -->
            <script src={myScripts}></script>
            <script src={bootstrap}></script>
            <script src={fontawesome}></script>
        </main>
    </body>
</html>
