---
import '../scss/styles.scss';
import bootstrap from 'bootstrap/dist/js/bootstrap.bundle?url';
// Font Awesome icons (free version)
import fontawesome from '../js/fontawesome?url';
import favicon from '../assets/favicon.ico';
interface Props {
    title: string;
    description: string;
}

const { title, description } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content={description} />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>{title}</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href={favicon} />
    </head>
    <body>
        <slot />

        <!-- Core theme JS -->
        <script src="../js/scripts.js"></script>
        <script src={bootstrap}></script>
        <script src={fontawesome}></script>
    </body>
</html>
