---
import '../scss/styles.scss';
import bootstrap from 'bootstrap/dist/js/bootstrap.bundle?url';
import myScripts from '../js/scripts?url';
// Font Awesome icons (free version)
import fontawesome from '../js/fontawesome?url';
import favicon from '../assets/favicon.ico';
import Navbar from './components/Navbar.astro';
import Copyright from './components/Copyright.astro';
interface Props {
    title: string;
    description: string;
}

const { title, description } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content={description} />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>{title}</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href={favicon} />
    </head>
    <body>
        <main>
            <Navbar />

            <slot />

            <Copyright />

            <!-- Core theme JS -->
            <script src={myScripts}></script>
            <script src={bootstrap}></script>
            <script src={fontawesome}></script>
        </main>
    </body>
</html>
